<!-- Begin Main -->
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Student List
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>DoB</th>
                            <th>Branch</th>
                            <th>Gender</th>
                            <th>Type</th>
                            <th>Address</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>DoB</th>
                            <th>Branch</th>
                            <th>Gender</th>
                            <th>Type</th>
                            <th>Address</th>
                            <th>Email</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>101</td>
                            <td>H&#x1EA3;i Nam</td>
                            <td>1/1/0001 12:00:00 AM</td>
                            <td>CNTT</td>
                            <td>Nam</td>
                            <td>Ch&#xED;nh quy</td>
                            <td>A1-2018</td>
                            <td>nam@g.com</td>
                        </tr>
                        <tr>
                            <td>102</td>
                            <td>Minh T&#xFA;</td>
                            <td>1/1/0001 12:00:00 AM</td>
                            <td>Kinh t&#x1EBF;</td>
                            <td>N&#x1EEF;</td>
                            <td>Ch&#xED;nh quy</td>
                            <td>A1-2019</td>
                            <td>tu@g.com</td>
                        </tr>
                        <tr>
                            <td>103</td>
                            <td>Ho&#xE0;ng Phong</td>
                            <td>1/1/0001 12:00:00 AM</td>
                            <td>C&#xF4;ng tr&#xEC;nh</td>
                            <td>Nam</td>
                            <td>Phi ch&#xED;nh quy</td>
                            <td>A1-2020</td>
                            <td>phong@g.com</td>
                        </tr>
                        <tr>
                            <td>104</td>
                            <td>Xu&#xE2;n Mai</td>
                            <td>1/1/0001 12:00:00 AM</td>
                            <td>&#x110;i&#x1EC7;n - &#x110;i&#x1EC7;n t&#x1EED;</td>
                            <td>N&#x1EEF;</td>
                            <td>Phi ch&#xED;nh quy</td>
                            <td>A1-2021</td>
                            <td>mai@g.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<!-- End Main -->
